    <!-- Header -->
    
      <div class="text-vertical-center">
        <br>
        <h1>Baseball Ground</h1>
        <h5>船橋市周辺の少年野球のグランド情報共有サイトです</h5>
      </div>
  
    <div class="top_image" id="top">
      <img src="<%= asset_path "bg.jpg" %>">
    </div>