  <p class="flash"><%= notice %><%= alert %>
  <section class="about">
   <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <h1>友達ブック</h1>
        <p>
          EXAM3(大課題3)で作成した<br>
          友達ブックアプリです
        </p>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="top img ">
          <img src="<%= asset_path "top.jpg" %>">
        </div>
      </div>
    </div>
  </section>